<h1>Data for your profile:</h1>

<p>
	<table>
		<tr>
			<td>First Name:</td>
			<td>{{firstName}}</td>
		</tr>
		<tr>
			<td>Last Name:</td>
			<td>{{lastName}}</td>
		</tr>
		<tr>
			<td>URL:</td>
			<td><a href={{profileURL}}>Link to Google+ Profile</a></td>
		</tr>
		<tr>
			<td>State:</td>
			<td>{{secretState}}</td>
		</tr>
	</table>
</p>