<h1>Conner Pappas' OAuth page</h1>
<p>
<div>This project is for practicing OAuth implementation with Google profiles. The page after authentication will show the user's name, link to their profile, and the state used.</div>
  <a href="/authenticator">Start authentication</a>
</p>
